/* réutilisable */
.menu__list{
	padding: 24px 16px;
	text-align: left;
	border-radius: 16px;
	box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}

/* Bouton principal */
.btn{
    padding: 15px 22px;
    color: $txt-fond-grisclair;
    transition: 250ms;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    &--gradient{
        background-image: 
            radial-gradient(
            100% 50% at 20% 10%,
            $color-secondary 0%,
            $color-primary 200%);
    }
    &--radius{
        border-radius: 25px;
    }
    &:hover {  
        opacity: 0.8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }    
    &:active{  
        opacity: 0.8;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }    
}

/* bouton j'aime */
.btn__heart, button {
    & .heart-back{
        display: block;
        transform: scale(1);
        transition: all 0.5s;
    }
    & .heart-hover {
        display: block;
        position: absolute;
        top: 0;
        transform: scale(0);
        transition: all 0.5s;
        background-color: $color-black;
        background-image: linear-gradient(0deg, $color-secondary, $color-primary);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
    }
}


.btn__heart:hover, button:hover{
    & .heart-back {
        opacity: 0;
        transform: scale(0);

    }
    & .heart-hover {
        opacity: 1;
        transform: scale(1);
    }
}
.btn__heart:active, button:active {
    & .heart-back {
        opacity: 0;
        transform: scale(0);

    }
    & .heart-hover {
        opacity: 1;
        transform: scale(1);
    }
}

.loading {
    display: block;
    opacity: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 20;
    text-align: center;  
    font-family: 'Shrikhand', sans-serif;
    animation: 2s ease 2s both fond;
    
    &__fond{
        position: relative; 
        display: inline-block;
        height: 1px;
    }

    & .placement {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 700px;
        
        .loading-line {
            animation: 2s ease both line;
            background-color: darken($color-secondary, 20%);
            color: darken($color-primary, 10%);
            border-radius: 20px;
            display: inline-block;
            height: 100%;
            opacity: 0;
            transform: scale(1);
            vertical-align: top;
            width: 22px;
            @media screen and (max-width: $breakpoints-tablette) {
                width: 19px;
            }
            @media screen and (max-width: $breakpoints-mobile) {
                width: 17px;
            }
        }
        @for $o from 1 through 16 {
            $time: $o * 0.03s;
            .loading-line:nth-child(#{$o}) {
                animation-delay: $time;
            }
        }
    }
    
    @keyframes fond {
        from {
            background: $color-white; 
            
        }
        to {
            background: $color-white;
            opacity: 0;
            visibility: hidden;
        }
    }
    @keyframes line {
        0% { 
            transform: scale(1);
        }
        50% {
            background-color: $color-primary;
            opacity: 1;
            transform: scale(3);
        }
        100% {
            transform: scale(1);
            opacity: 0;
        }
    }
}