@mixin grid-template-set($section){
    @if ($section == "header") {
        $section: $grid-columns-header;
    } @else if ($section == "localisation"){
        $section: $grid-columns-localisation;
    } @else if ($section == "presentation"){
        $section: $grid-columns-presentation;
    } @else if ($section == "operation"){
        $section: $grid-columns-operation;
    } @else if ($section == "restaurants"){
        $section: $grid-columns-restaurants;
    } @else if ($section == "footer"){
        $section: $grid-columns-footer;
    } 

    grid-template-columns: repeat($section, 1fr);
}

@mixin grid-pos-set($row-start, $row-end, $col-start, $col-end){
    grid-row: $row-start unquote("/") $row-end;
    grid-column: $col-start unquote("/") $col-end;
}

@mixin menu__open($dur, $delay) {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #f4f9f8;
    transform-origin: top left;
    animation: menu $dur $delay both;
    z-index: -1;
}