%grid-center {
    display:grid;
    align-items: center;
    justify-items: center;  
}

//Soulignement titre
%border-titre {
    &::after{
        border-bottom: 3px $vert-clair solid;
        content: '';
        display: block;
        width: $border-titre;
    }
}