@import "./utils/mixin";
@import "./utils/variables";
@import "./utils/components";
@import "./utils/placeholders";

@import "./layout/header";
@import "./layout/footer";

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');


main{

    font-family: 'Roboto', sans-serif;

    /* Debut section localisation */
    .localisation {
        @extend %grid-center;
        @include grid-template-set ($localisation);
        padding: 20px;
        font-size: 11px;
        background: linear-gradient(
            180deg,
                rgba(173,173,173,.35) 0%,
                rgba(234,234,234,.75) 15%,
                rgba(234,234,234,1) 100%);
        @media screen and (max-width: $breakpoints-tablette) {
            padding: 15px;
        }
        @media screen and (max-width: $breakpoints-mobile) {
            padding: 15px; 
            
        }  
        & i {
            padding: 0 10px 0 0;
            font-size: large;
            @media screen and (max-width: $breakpoints-tablette) {
               font-size: medium;
            }
            @media screen and (max-width: $breakpoints-mobile) {
               font-size: medium;  
            } 
        }
    }
    /* Fin section localisation */
    
    /* Debut section presentation */
    .presentation {
        @extend %grid-center;
        @include grid-template-set ($presentation);
        padding: 20px 0 35px;
        background: $txt-fond-grisclair;
        text-align: center;

        & h2 {
            padding: 0 15px;
            font-size: x-large;
            @media screen and (max-width: $breakpoints-tablette) {
               margin: 25px 25px 0;
            }
            @media screen and (max-width: $breakpoints-mobile) { 
                margin: 25px 50px 0 30px;   
            } 
        }
        & p {
            color: $gris-sombre;
            padding: 20px 20px 30px;
            @media screen and (max-width: $breakpoints-tablette) {
                font-size: large;
             }
             @media screen and (max-width: $breakpoints-mobile) { 
                 font-size: large;   
             } 
        }
    }
    /* Fin section presentation */
    
    /* Debut section Fonctionnement */
    .operation {
        display: grid;
        margin: 60px 0;
        @include grid-template-set ($operation);
        & h2 {
            font-size: large;
            font-weight: bold;
            padding: 0px 25px 20px;
            @media screen and (max-width: $breakpoints-tablette) {
                font-size: x-large;
            }
            @media screen and (max-width: $breakpoints-mobile) {
                font-size: x-large;
            } 
        }
        & ul {
            @extend %grid-center;
            @include grid-template-set (3);            
            
            @media screen and (max-width: $breakpoints-tablette) {
                @include grid-template-set (1);
                gap: 30px;
            }
            @media screen and (max-width: $breakpoints-mobile) {
                @include grid-template-set (1);
                gap: 35px;   
            }   
            & li {
                display: grid;
                grid-template-rows: repeat(1, 1fr);
                grid-template-columns: 10% 15% auto;
                text-align: left;
                align-items: center;
                font-size: medium;
                font-weight: bold;
                width: 84%;
                padding: 25px 0;
                box-shadow: 0px 5px 4px 0px rgba(53,53,53,0.1);   
                background-color: $color-white;
                border-radius: 20px;
                & .num {
                    position: relative;
                    top: auto;
                    right: 12px;
                    .circle-num {
                        background-color: $color-primary;
                        color: $color-white;
                        font-family: 'Roboto', sans-serif;
                        font-size: small;
                        border-radius: 45%;
                        padding: 6px 9px;
                    }
                }        
                & .icon {
                    color: lighten($gris-sombre,50);
                    padding-left: 8px;
                    font-size: large;
                }
            }  
            & li:last-of-type {
                background-color: rgba(147,86,220,0.1);
                & .icon {
                    color: $color-primary;
                }
            }
        }
    }
    /* Fin section fonctionnement */

    /* Début section restaurants */
    .restaurants {
        @extend %grid-center;
        @include grid-template-set (1);
        background: $txt-fond-grisclair;
        padding: 50px 15px;
        & h2 {
            @include grid-pos-set (1, auto, 1, 2);
            justify-self: start;
        }
        & ul {
            @include grid-pos-set (2, auto, 1, 5);
            display: grid;
            @include grid-template-set ($restaurants);
            grid-gap: 20px;
            justify-self: normal;
            margin: 30px 0;
            @media screen and (max-width: $breakpoints-tablette) {
                @include grid-pos-set (2, auto, 1, 3);
                @include grid-template-set (2);
            }
            @media screen and (max-width: $breakpoints-mobile) {
                @include grid-pos-set (2, auto, 1, 2);
                @include grid-template-set (1);  
            }
            & li {
                display: inline-block;
                width: 100%;
                & a {
                    display: block;
                    position: relative;
                    padding: 0 0 10px 0;
                    color: $color-black;
                    border-radius: 20px;
                    box-shadow: 0 3px 10px rgb(0, 0, 0, 0.2);
                    & .level {
                        position: absolute;
                        right: 16px;
                        top: 16px;
                        padding: 8px 7px;
                        color: $txt-fond-vert;
                        background: $vert-clair;
                        border-radius: 4px;
                    }
                    & img {
                        padding: 0 0 8px 0;
                        width: 100%;
                        height: 180px;
                        object-fit: cover;
                        border-radius: 20px 20px 0 0;
                    }
                    & h3, p {
                        padding: 0 16px 8px;
                    }
                    & .btn__heart {
                        position: absolute;
                        bottom: 40px;
                        right: 24px;
                        font-size: 22px;
                        cursor: pointer;
                    }
                }
            }
        }
    } 
    /*Fin section restaurants */

     /* Début section menu */
     .menu {
        @extend %grid-center;
        @include grid-template-set (1);
        padding: 0 0 45px;
        justify-items: normal;
        background: $txt-fond-grisclair;
        &__img {
            margin: 0 0 -80px 0;
            width: 100%;
            height: 320px;
            object-fit: cover;
        }
        &__carte {
            padding: 30px 15px 0;
            background: $txt-fond-grisclair;
            border-radius: 50px 50px 0 0;
        }
        & h2 {
            @include grid-pos-set (1, auto, 1, 4);
            justify-self: start;
            margin: 0 0 15px;
            font-family: 'Shrikhand', cursive;
            font-size: 30px;
            & button {
                margin: 0 0 0 30px;
                font-size: 22px;
                position: relative;
            }
        }
        & h3 {
            @include grid-pos-set (2, auto, 1, 4);
            justify-self: start;
            @extend %border-titre;
            text-transform: uppercase;
            font-weight: normal;
        }
        & ul {
            @include grid-pos-set (3, auto, 1, 4);
            display: grid;
            @include grid-template-set (3);
            grid-gap: 25px;
            margin: 15px 0 40px;
            justify-self: normal;
            @media screen and (max-width: $breakpoints-tablette) {
                @include grid-pos-set (2, auto, 1, 2);
                @include grid-template-set (2);
            }
            @media screen and (max-width: $breakpoints-mobile) {
                @include grid-pos-set (2, auto, 1, 2);
                @include grid-template-set (1);  
            }
        }
        & .menu__list {
            position: relative;
            padding: 15px;
            cursor: pointer;
            overflow: hidden;
            font-size: 16.5px;
            animation: showingDishes 1000ms forwards;
            opacity: 0;
            @for $i from 1 to $nb-plats {
                &--#{$i} {
                    animation-delay: calc(200ms * $i);
                }
            }
            @keyframes showingDishes {
                0% {
                    transform: translateY(30px);

                }
                100% {
                    transform: translateY(0);
                    opacity: 1;
                }
            }
        }
        & .menu__list:hover {
            & p {
                width: 67%;
            }
            & strong {
                right: 102px;
            }
            & span {
                right: 0;
                & i {
                    transform: rotate(0deg);
                }
            }
        }
        & h4 {
            margin: 0 0 8px 0;
            font-size: 17.5px;
        }
        & p {
            font-size: 16px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 85%; 
            overflow: hidden;
            transition: all 0.5s;
        }
        & strong {
            position: absolute;
            right: 32px;
            bottom: 16px;
            font-weight: bold;
            transition: all 0.5s;
        }
        & span {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 0;
            right: -80px;
            width: 80px;
            height: 100%;
            font-size: 24px;
            color: $color-white;
            background: $color-tertiary;
            transition: all 0.5s;
        }
        & .fa-check-circle {
            transform: rotate(-1turn);
            transition: all 0.5s;
        }
       
        & a {
            padding: 15px 40px;
            justify-self: center;
        }
    }
    /* Fin section menu */

}

