@charset "UTF-8";
/* réutilisable */
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
.menu__list {
  padding: 24px 16px;
  text-align: left;
  border-radius: 16px;
  box-shadow: 0 4px 11px rgba(0, 0, 0, 0.2);
}

/* Bouton principal */
.btn {
  padding: 15px 22px;
  color: #f6f6f6;
  transition: 250ms;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.btn--gradient {
  background-image: radial-gradient(100% 50% at 20% 10%, #ff79da 0%, #9356dc 200%);
}
.btn--radius {
  border-radius: 25px;
}
.btn:hover {
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.btn:active {
  opacity: 0.8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* bouton j'aime */
.btn__heart .heart-back, button .heart-back {
  display: block;
  transform: scale(1);
  transition: all 0.5s;
}
.btn__heart .heart-hover, button .heart-hover {
  display: block;
  position: absolute;
  top: 0;
  transform: scale(0);
  transition: all 0.5s;
  background-color: black;
  background-image: linear-gradient(0deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.btn__heart:hover .heart-back, button:hover .heart-back {
  opacity: 0;
  transform: scale(0);
}
.btn__heart:hover .heart-hover, button:hover .heart-hover {
  opacity: 1;
  transform: scale(1);
}

.btn__heart:active .heart-back, button:active .heart-back {
  opacity: 0;
  transform: scale(0);
}
.btn__heart:active .heart-hover, button:active .heart-hover {
  opacity: 1;
  transform: scale(1);
}

main .menu, main .restaurants, main .operation ul, main .presentation, main .localisation, header {
  display: grid;
  align-items: center;
  justify-items: center;
}

main .menu h3::after {
  border-bottom: 3px #99e2d0 solid;
  content: "";
  display: block;
  width: 48px;
}

/*-- header --*/
header {
  grid-template-columns: repeat(1, 1fr);
  padding: 10px;
}
@media screen and (max-width: 992px) {
  header {
    padding: 15px;
  }
}
@media screen and (max-width: 690px) {
  header {
    padding: 20px 15px 10px;
  }
}
header h1 {
  grid-row: 1 / auto;
  grid-column: 1 / auto;
  font-family: "Shrikhand", cursive;
  font-size: x-large;
}
@media screen and (max-width: 992px) {
  header h1 {
    font-size: xx-large;
  }
}
@media screen and (max-width: 690px) {
  header h1 {
    font-size: xx-large;
  }
}
header .btn__home {
  grid-row: 1 / auto;
  grid-column: 1 / auto;
  justify-self: start;
  color: black;
}
header .btn__home:hover, header .btn__home:active {
  color: black;
}

/*-- Fin Header --*/
/*-- footer --*/
footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: #353535;
  padding: 20px 0 30px 30px;
}
@media screen and (max-width: 992px) {
  footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 690px) {
  footer {
    grid-template-columns: repeat(1, 1fr);
  }
}
footer h2 {
  font-size: large;
  font-weight: 400;
  font-family: "Shrikhand", cursive;
  grid-column: 1/1;
  margin-bottom: 20px;
  color: white;
}
footer ul {
  grid-column: 1/1;
}
footer ul a {
  line-height: 1.8;
  font-family: "Roboto", sans-serif;
  color: white;
}
footer ul a .fa-utensils {
  font-size: small;
  padding-right: 20px;
}
footer ul a .fa-handshake-angle {
  font-size: small;
  padding-right: 15px;
}

/*-- Fin footer --*/
/* Debut loader */
body .loading {
  display: block;
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  text-align: center;
  font-family: "Shrikhand", sans-serif;
  animation: 1s ease 2s both fond;
}
body .loading__fond {
  margin-top: 200px;
  position: relative;
  display: inline-block;
  height: 1px;
}
body .loading .loading-line {
  animation: 2s ease both line;
  background-color: #ff13be;
  color: #782cd3;
  border-radius: 20px;
  display: inline-block;
  height: 100%;
  opacity: 0;
  transform: scale(1);
  vertical-align: top;
  width: 22px;
}
@media screen and (max-width: 992px) {
  body .loading .loading-line {
    width: 19px;
  }
}
@media screen and (max-width: 690px) {
  body .loading .loading-line {
    width: 17px;
  }
}
body .loading .loading-line:nth-child(1) {
  animation-delay: 0.03s;
}
body .loading .loading-line:nth-child(2) {
  animation-delay: 0.06s;
}
body .loading .loading-line:nth-child(3) {
  animation-delay: 0.09s;
}
body .loading .loading-line:nth-child(4) {
  animation-delay: 0.12s;
}
body .loading .loading-line:nth-child(5) {
  animation-delay: 0.15s;
}
body .loading .loading-line:nth-child(6) {
  animation-delay: 0.18s;
}
body .loading .loading-line:nth-child(7) {
  animation-delay: 0.21s;
}
body .loading .loading-line:nth-child(8) {
  animation-delay: 0.24s;
}
body .loading .loading-line:nth-child(9) {
  animation-delay: 0.27s;
}
body .loading .loading-line:nth-child(10) {
  animation-delay: 0.3s;
}
body .loading .loading-line:nth-child(11) {
  animation-delay: 0.33s;
}
body .loading .loading-line:nth-child(12) {
  animation-delay: 0.36s;
}
body .loading .loading-line:nth-child(13) {
  animation-delay: 0.39s;
}
body .loading .loading-line:nth-child(14) {
  animation-delay: 0.42s;
}
body .loading .loading-line:nth-child(15) {
  animation-delay: 0.45s;
}
body .loading .loading-line:nth-child(16) {
  animation-delay: 0.48s;
}
@keyframes fond {
  from {
    background: white;
    min-height: 1723.6px;
    height: 2337.02px;
  }
  to {
    background: white;
    opacity: 0;
  }
}
@keyframes line {
  0% {
    transform: scale(1);
  }
  50% {
    background-color: #9356dc;
    opacity: 1;
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

/* Fin loader */
main {
  font-family: "Roboto", sans-serif;
}
main .localisation {
  grid-template-columns: repeat(1, 1fr);
  padding: 20px;
  font-size: 11px;
  background: linear-gradient(180deg, rgba(173, 173, 173, 0.35) 0%, rgba(234, 234, 234, 0.75) 15%, #eaeaea 100%);
}
@media screen and (max-width: 992px) {
  main .localisation {
    padding: 15px;
  }
}
@media screen and (max-width: 690px) {
  main .localisation {
    padding: 15px;
  }
}
main .localisation i {
  padding: 0 10px 0 0;
  font-size: large;
}
@media screen and (max-width: 992px) {
  main .localisation i {
    font-size: medium;
  }
}
@media screen and (max-width: 690px) {
  main .localisation i {
    font-size: medium;
  }
}
main .presentation {
  grid-template-columns: repeat(1, 1fr);
  padding: 20px 0 35px;
  background: #f6f6f6;
  text-align: center;
}
main .presentation h2 {
  padding: 0 15px;
  font-size: x-large;
}
@media screen and (max-width: 992px) {
  main .presentation h2 {
    margin: 25px 25px 0;
  }
}
@media screen and (max-width: 690px) {
  main .presentation h2 {
    margin: 25px 50px 0 30px;
  }
}
main .presentation p {
  color: #353535;
  padding: 20px 20px 30px;
}
@media screen and (max-width: 992px) {
  main .presentation p {
    font-size: large;
  }
}
@media screen and (max-width: 690px) {
  main .presentation p {
    font-size: large;
  }
}
main .operation {
  display: grid;
  margin: 60px 0;
  grid-template-columns: repeat(1, 1fr);
}
main .operation h2 {
  font-size: large;
  font-weight: bold;
  padding: 0px 25px 20px;
}
@media screen and (max-width: 992px) {
  main .operation h2 {
    font-size: x-large;
  }
}
@media screen and (max-width: 690px) {
  main .operation h2 {
    font-size: x-large;
  }
}
main .operation ul {
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (max-width: 992px) {
  main .operation ul {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
}
@media screen and (max-width: 690px) {
  main .operation ul {
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
  }
}
main .operation ul li {
  display: grid;
  grid-template-rows: repeat(1, 1fr);
  grid-template-columns: 10% 15% auto;
  text-align: left;
  align-items: center;
  font-size: medium;
  font-weight: bold;
  width: 84%;
  padding: 25px 0;
  box-shadow: 0px 5px 4px 0px rgba(53, 53, 53, 0.1);
  background-color: white;
  border-radius: 20px;
}
main .operation ul li .num {
  position: relative;
  top: auto;
  right: 12px;
}
main .operation ul li .num .circle-num {
  background-color: #9356dc;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: small;
  border-radius: 45%;
  padding: 6px 9px;
}
main .operation ul li .icon {
  color: #b5b5b5;
  padding-left: 8px;
  font-size: large;
}
main .operation ul li:last-of-type {
  background-color: rgba(147, 86, 220, 0.1);
}
main .operation ul li:last-of-type .icon {
  color: #9356dc;
}
main .restaurants {
  grid-template-columns: repeat(1, 1fr);
  background: #f6f6f6;
  padding: 50px 15px;
}
main .restaurants h2 {
  grid-row: 1 / auto;
  grid-column: 1 / 2;
  justify-self: start;
}
main .restaurants ul {
  grid-row: 2 / auto;
  grid-column: 1 / 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  justify-self: normal;
  margin: 30px 0;
}
@media screen and (max-width: 992px) {
  main .restaurants ul {
    grid-row: 2 / auto;
    grid-column: 1 / 3;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 690px) {
  main .restaurants ul {
    grid-row: 2 / auto;
    grid-column: 1 / 2;
    grid-template-columns: repeat(1, 1fr);
  }
}
main .restaurants ul li {
  display: inline-block;
  width: 100%;
}
main .restaurants ul li a {
  display: block;
  position: relative;
  padding: 0 0 10px 0;
  color: black;
  border-radius: 20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}
main .restaurants ul li a .level {
  position: absolute;
  right: 16px;
  top: 16px;
  padding: 8px 7px;
  color: #008766;
  background: #99e2d0;
  border-radius: 4px;
}
main .restaurants ul li a img {
  padding: 0 0 8px 0;
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}
main .restaurants ul li a h3, main .restaurants ul li a p {
  padding: 0 16px 8px;
}
main .restaurants ul li a .btn__heart {
  position: absolute;
  bottom: 40px;
  right: 24px;
  font-size: 22px;
  cursor: pointer;
}
main .menu {
  grid-template-columns: repeat(1, 1fr);
  padding: 0 0 45px;
  justify-items: normal;
  background: #f6f6f6;
}
main .menu__img {
  margin: 0 0 -80px 0;
  width: 100%;
  height: 320px;
  object-fit: cover;
}
main .menu__carte {
  padding: 30px 15px 0;
  background: #f6f6f6;
  border-radius: 50px 50px 0 0;
}
main .menu h2 {
  margin: 0 0 15px;
  font-family: "Shrikhand", cursive;
  font-size: 30px;
  font-weight: 300;
}
main .menu h2 button {
  margin: 0 0 0 30px;
  font-size: 22px;
  position: relative;
}
main .menu h3 {
  grid-row: 2 / auto;
  grid-column: 1 / 4;
  justify-self: start;
  text-transform: uppercase;
  font-weight: normal;
}
main .menu ul {
  grid-row: 3 / auto;
  grid-column: 1 / 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  margin: 15px 0 40px;
  justify-self: normal;
}
@media screen and (max-width: 992px) {
  main .menu ul {
    grid-row: 2 / auto;
    grid-column: 1 / 2;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 690px) {
  main .menu ul {
    grid-row: 2 / auto;
    grid-column: 1 / 2;
    grid-template-columns: repeat(1, 1fr);
  }
}
main .menu .menu__list {
  position: relative;
  padding: 15px;
  cursor: pointer;
  overflow: hidden;
  font-size: 16.5px;
  animation: apparition 1000ms both;
  opacity: 0;
}
main .menu .menu__list--1 {
  animation-delay: 200ms;
}
main .menu .menu__list--2 {
  animation-delay: 400ms;
}
main .menu .menu__list--3 {
  animation-delay: 600ms;
}
main .menu .menu__list--4 {
  animation-delay: 800ms;
}
main .menu .menu__list--5 {
  animation-delay: 1000ms;
}
main .menu .menu__list--6 {
  animation-delay: 1200ms;
}
main .menu .menu__list--7 {
  animation-delay: 1400ms;
}
main .menu .menu__list--8 {
  animation-delay: 1600ms;
}
main .menu .menu__list--9 {
  animation-delay: 1800ms;
}
@keyframes apparition {
  0% {
    transform: translateY(30px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
main .menu .menu__list:hover p, main .menu .menu__list:active p {
  width: 60%;
}
@media screen and (max-width: 992px) {
  main .menu .menu__list:hover p, main .menu .menu__list:active p {
    width: 64%;
  }
}
@media screen and (max-width: 690px) {
  main .menu .menu__list:hover p, main .menu .menu__list:active p {
    width: 67%;
  }
}
main .menu .menu__list:hover strong, main .menu .menu__list:active strong {
  right: 102px;
}
main .menu .menu__list:hover span, main .menu .menu__list:active span {
  right: 0;
}
main .menu .menu__list:hover span i, main .menu .menu__list:active span i {
  transform: rotate(0deg);
}
main .menu h4 {
  margin: 0 0 8px 0;
  font-size: 17.5px;
}
main .menu p {
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 85%;
  overflow: hidden;
  transition: all 0.5s;
}
main .menu strong {
  position: absolute;
  right: 32px;
  bottom: 16px;
  font-weight: bold;
  transition: all 0.5s;
}
main .menu span {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: -80px;
  width: 80px;
  height: 100%;
  font-size: 24px;
  color: white;
  background: #99E2D0;
  transition: all 0.5s;
}
main .menu .fa-check-circle {
  transform: rotate(-1turn);
  transition: all 0.5s;
}
main .menu a {
  padding: 15px 40px;
  justify-self: center;
}
